
<nav class="black">
  <div class="nav-wrapper">
    <a href="#/" class="brand-logo">Can't Match Your Kolors?</a>
    <ul id="nav-mobile" class="right">
      <li ng-click="logout()">Log Out</li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="row">
    <div class="col s12 m2" ng-repeat="c in colorList">
      <div class="card">
        <div class="card-content style" style="background-color: {{c.hex}}"></div>
        <div class="card-action">
          <p class="black-text color" href="#" ng-hide="visible" ng-dblclick="visible = true">{{c.hex}}</p>
        <form ng-submit="updateColor(c)" ng-show="visible">
          <input type="text" ng-model="c.hex" placeholder="Hex" ng-required autofocus>
          <br/>
          <button class="btn">Update</button>
          <button class="btn-flat" ng-click="visible = false">Close</button>
       </form>

          <button ng-click="deleteColor(c)" class="btn red">X</button>



        </div>
      </div>



    </div>
  </div>
  <form ng-submit="addColor(c)">
    <input id="colorInput" type="text" ng-model="c.hex" placeholder="Ex: #FF3300" required style="background-color: {{c.hex}}">
    <button class="btn-floating btn-large waves-effect waves-green white black-text">+</button>
  </form>
</div>