
<nav class="black">
  <div class="nav-wrapper">
    <a href="#/" class="brand-logo">Can't Match Your Kolors?</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li ng-click="logout()">Log Out</li>
    </ul>
  </div>
</nav>

<div class="container">
  <form ng-submit='addColor(c)'>
  <div class="row">
    <div class="col s12 m2" ng-repeat="c in colorList">
      <div class="card">
        <div class="card-content style" style="background-color: {{c.hex}}"></div>
        <div class="card-action">
          <a class="black-text" href="#">{{c.hex}}</a>
        </div>
      </div>
    </div>
  </div>

    <input type="text" ng-model="c.hex" placeholder="Ex: #FF3300" required>
    <button class="btn-floating btn-large waves-effect waves-green white black-text">+</button>
  </form>
</div>