

<div class="container">

  <form ng-submit="loginUser(userLogin)">
    <input type="text" ng-model="userLogin.username"  placeholder="Organization Name" required>
    <input type="password" ng-model="userLogin.password"  placeholder="Password" required>
    <button class="waves-effect waves-light btn">Log In</button>
    <a class="waves-effect waves-light modal-trigger" href="#modal1">Sign Up</a>
  </form>

  <div id="modal1" class="modal">
    <form ng-submit="addUser(user)">
      <div class="modal-content">
        <h4>Sign Up</h4>
          <input type="text" ng-model="user.username" placeholder="Organization Name" required>
          <input type="password" ng-model="user.password" placeholder="Password" required>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat white">Agree</button>
      </div>
    </form>
  </div>

</div>